@import "tailwindcss";

* {
  font-family: 'Libre Baskerville', serif !important;
}

@theme {
  --color-primary: #E88FB0;
  --color-primary-dark: #D96A94;
  --color-teal: #2FB8B1;
  --color-teal-light: #8ADBD5;
  --color-background: #FFF7FA;
  --color-surface: #FFFFFF;
  --color-text-primary: #4A4A4A;
  --color-text-secondary: #9CA3AF;
  --color-shine: #F2D7E1;
  --color-success: #5DBA9A;
  --color-danger: #E85D8C;
}